    * {
      box-sizing: border-box;
      -webkit-padding-start: 0px;
    }
    html, body {
      font-family: '源ノ角ゴシック', 'meirio', 'sans-serif';
      background: limegreen;
      padding: 0;
      margin: 0;
    }
    h1, h2, h3{
      font-size: 1.4rem;
      width: 100%;
      padding: 1rem;
      margin: 0;
    }

    iframe.screen {
      width: 75vw;
      height: 60vh;
      border: none;
      margin: 10px auto;
    }
    .container {
      width: 75vw;
      overflow: hidden;
    }
    .container p {
      padding: 10px;
    }
    .p-button{
      border: 2px solid gray;
      background: white;
      color: gray;
      padding: 0.5rem;
    }
    .t-brown {
      background: #F3C289;
      color: #622814;
      border: 2px dotted #622814;
    }
    .t-lightbrown {
      background: #F6B247;
      color: #622814
    }
    .u-center {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .u-mb {
      margin-bottom: 1rem;
    }
    ul {
      list-style: none;
    }
    li {
      -webkit-margin-start: 0px;
      -webkit-margin-before: 0px;
      -webkit-margin-after: 0px;
    }

